.container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh; 
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    z-index: 999;
  }
  
  .popup-content {
    text-align: center;
    height: 200px;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .close:hover {
    color: red;
  }
  
  #popupBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 200px;
  }
  
  #popupBtn:hover {
    background-color: #0056b3;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  form {
    display: flex;
    flex-direction: column;
  }

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 200px;
  margin-left: 20px;
}

.book-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}